@media only screen and (max-width: 1320px) {
  .header {
    width: 100%;
  }
  .hero-text {
    padding-right: 20px;
  }

  .hero-title {
    font-size: 60px;
  }

  .hero-p {
    font-size: 18px;
  }

  .hero-btn {
    border-radius: 6px;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 600;
  }

  .company-p {
    font-size: 18px;
  }

  .hero-img img {
    width: 400px;
  }

  .question-area .container {
    margin-right: 0px;
    margin-left: auto;
  }

  .question-text {
    padding: 10px;
  }

  .question-title {
    font-size: 40px;
    font-weight: 700;
  }

  .question-p {
    font-size: 20px;
  }

  .question-column {
    border-radius: 0px 0px 0px 40px;
    width: 380px;
  }
}

@media only screen and (max-width: 1140px) {
  .services-text {
    width: 350px;
    padding: 20px 15px;
  }

  .services-title {
    font-size: 38px;
    font-weight: 700;
  }

  .services-p {
    font-size: 18px;
  }

  .service-title {
    font-size: 18px;
  }

  .testimonial-text {
    background-color: rgb(255, 255, 255);
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    position: relative;
    text-align: center;
    margin-right: 20px;
    border-radius: 10px;
  }

  .testimonial-text i {
    bottom: -9%;
    left: 48%;
    font-size: 50px;
  }

  .single-testimonial-p {
    font-size: 12px;
  }

  .author-name {
    font-size: 16px;
  }

  .author-designation {
    font-size: 12px;
  }

  .question-area .container {
    margin-right: 0px;
    margin-left: auto;
  }

  .question-title {
    font-size: 40px;
  }

  .question-p {
    font-size: 20px;
  }

  .question-column {
    border-radius: 0px 0px 0px 40px;
    width: 320px;
  }
}
@media only screen and (max-width: 1024px) {
  .header-area {
    padding: 0px;
  }
  .hero-text {
    padding-right: 0;
  }

  .hero-title {
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
  }

  .hero-p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 38px;
  }

  .hero-btn {
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1px;
  }

  .header-logo img {
    max-width: 80px;
    height: auto;
  }

  .hero-company {
    margin-top: 60px;
  }

  .company-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.88px;
    margin-bottom: 18px;
  }

  .company-logo-top {
    gap: 30px;
    margin-bottom: 20px;
  }

  .company-logo-top svg {
    width: 80px;
  }
  .company-logo-bottom svg {
    width: 80px;
  }

  .hero-img img {
    width: 320px;
  }

  .services-text {
    width: 300px;
    padding: 18px 12px;
  }
  .services-title {
    font-size: 30px;
    font-weight: 700;
  }

  .services-p {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 28px;
  }

  .single-service svg {
    width: 27px;
    height: 27px;
    margin: 0;
    padding: 0;
  }

  .service-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    padding: 0;
  }

  .service-p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
  }

  .stats-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.2px;
  }

  .stats-p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }

  .single-stat-title {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
  }

  .single-stat-p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .testimonials-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0.3px;
    margin-bottom: 35px;
  }

  .testimonial-text {
    background-color: rgb(255, 255, 255);
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    position: relative;
    text-align: center;
    margin-right: 20px;
    border-radius: 10px;
  }

  .testimonial-text i {
    bottom: -8%;
    left: 48%;
    font-size: 48px;
  }

  .question-area .container {
    margin-right: 0px;
    margin-left: auto;
  }

  .question-title {
    font-size: 38px;
  }

  .question-p {
    font-size: 16px;
  }

  .question-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 15px;
  }
  .question-btn i {
    font-size: 12px;
  }
  .question-column {
    border-radius: 0px 0px 0px 40px;
    width: 320px;
  }

  .footer-logo img {
    width: 100px;
  }

  .footer-menu-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .footer-menu-item {
    margin-bottom: 8px;
  }

  .footer-menu-link {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 912px) {
  .hero-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
  }

  .menu li a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 1.2px;
  }

  .hero-p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 35px;
  }

  .hero-btn {
    border-radius: 6px;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1px;
  }

  .company-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.88px;
    margin-bottom: 18px;
  }

  .company-logo-top svg {
    width: 70px;
  }
  .company-logo-bottom svg {
    width: 70px;
  }

  .services-p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .question-area .container {
    margin-right: 0px;
    margin-left: auto;
  }
  .question-column {
    border-radius: 0px 0px 0px 40px;
    width: 240px;
  }
}
@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .hero-area {
    text-align: center;
    width: 100%;
  }

  .hero-text {
    padding-right: 0px;
    width: 100%;
  }
  .hero-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }

  .hero-p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 38px;
  }

  .hero-btn {
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1px;
  }

  .header-logo img {
    max-width: 80px;
    height: auto;
  }

  .hero-company {
    margin-top: 30px;
  }

  .company-logo-top {
    display: block;
    align-items: center;
  }

  .company-logo-bottom {
    display: block;
    align-items: center;
  }

  .company-logo-top svg {
    width: 60px;
  }
  .company-logo-bottom svg {
    width: 60px;
  }
  .hero-img-colm {
    width: 0;
  }

  .services {
    display: block;
  }

  .services-text {
    width: 100%;
    padding: 40px 30px;
  }
  .testimonial-text {
    margin-right: 20px;
    border-radius: 10px;
  }
  .hero-img img {
    display: none;
  }

  .question-area .container {
    margin-right: 0px;
    margin-left: 0;
  }

  .question-column {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .menu {
    display: none;
  }

  .services {
    display: block;
  }
  .services-text {
    width: 80%;
    display: block;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  .services-title {
    font-size: 25px;
    font-weight: 700;
  }

  .services-p {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 28px;
    text-align: center;
  }
  .services-info {
    display: block;
    margin: auto;
    width: 400px;
  }

  .single-service svg {
    width: 27px;
    height: 27px;
    margin: 0;
    padding: 0;
  }

  .service-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    padding: 0;
  }

  .service-p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
  }

  .stats-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.2px;
  }
}
@media only screen and (max-width: 412px) {
}
